Dropbox/
Google Drive/
*/
*.log
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cabal/
.dmrc
.esd_auth
.fasd
.gitconfig
.gnome/
.lesshst
.recently-used
.rnd
.ssh/
.vimcache/
.viminfo
.xscreensaver
.xsession-errors
.xsession-errors.old
_viminfo
dead.letter
p4tickets.txt
p4trust.txt
\#*#
ntuser.dat*
ntuser.ini*

!bin/
