*/
Dropbox/
Google Drive/
!bin/
.cabal/
.gnome/
.ssh/
.vimcache/
*.log
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.dmrc
.esd_auth
.fasd
.gitconfig
.lesshst
.recently-used
.rnd
.viminfo
.xscreensaver
.xsession-errors
.xsession-errors.old
_viminfo
dead.letter
p4tickets.txt
p4trust.txt
ntuser.dat*
ntuser.ini*
\#*#
