" Mouseless Driven Development by Hadi Hariri https://www.youtube.com/watch?v=UH6YVv9js3s
" Official ideavim plugin https://github.com/JetBrains/ideavim
" IntelliJ Ref. Card : https://resources.jetbrains.com/storage/products/intellij-idea/docs/IntelliJIDEA_ReferenceCard.pdf
" Action List : https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
" All ideavim bindings https://github.com/JetBrains/ideavim/blob/master/src/com/maddyhome/idea/vim/package-info.java
" Some doc for idea scala projects https://www.jetbrains.com/help/idea/discover-intellij-idea-for-scala.html

" Some .ideavimrc user configs
"    https://github.com/danidiaz/miscellany
"    https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc
"    https://github.com/saaguero/ideavimrc/blob/master/.ideavimrc

" Trick
" :actionlist <regex> to find the commands containing <regex>
" :action <cmd> to try the command


" ideavim supported plugins
set surround
set multiple-cursors

let mapleader=" "

" Some standard defaults
set hlsearch
set incsearch
set ignorecase
set smartcase

set scrolloff=3
set showmode  " message on statusline to show current mode
set clipboard=unnamed,ideaput " Automatically yanks/fetch MS Clipboard
set history=1000   " Cmdline history
set number


" Reload sources
nnoremap <leader>-r :source ~/.ideavimrc<cr>

vnoremap K <c-s-p>
nnoremap Y y$
" FIXME remap H :action GuiDesigner.ExpandSelection<cr>
" FIXME vnoremap L :action GuiDesigner.ShrinkSelection<cr>


" moving around windows /tabs
nnoremap <c-l> <c-w>w
" nnoremap <c-j> gT
" nnoremap <c-k> gt

nnoremap <a-k> :action PreviousOccurence<cr>
nnoremap <a-j> :action NextOccurence<cr>
nnoremap <a-h> gT
nnoremap <a-l> gt

" nnoremap <m-j>
" nnoremap <m-k>
" nnoremap <m-h>
" nnoremap <m-l>

noremap mm :action ToggleBookmarkWithMnemonic<cr>

nnoremap ]] :action MethodDown<cr>
nnoremap [[ :action MethodUp<cr>
nnoremap ]h :action VcsShowNextChangeMarker<cr>
nnoremap [h :action VcsShowPrevChangeMarker<cr>
nnoremap ]e :action MoveLineDown<cr>
nnoremap [e :action MoveLineUp<cr>
nnoremap ]q :action GotoNextError<cr>
nnoremap [q :action GotoPreviousError<cr>
nnoremap ]a :action MoveElementRight<cr>
nnoremap [a :action MoveElementLeft<cr>
" nnoremap ]s :action MoveStatementDown<cr>
" nnoremap [s :action MoveStatementUp<cr>

noremap <leader><leader> :action SearchEverywhere<cr>

" Comments
noremap <leader>; :action CommentByLineComment<cr>
noremap <leader>= :action ReformatCode<cr>


" Buffers
nnoremap <leader>bd :action CloseContent<cr>
nnoremap <leader>bD :action CloseAllUnmodifiedEditors<cr>
nnoremap <leader>bP :action CloseAllUnpinnedEditors<cr>
nnoremap <leader>bp :action PinActiveTab<cr>

" Compile
nnoremap <leader>cc :action Compile<cr>
nnoremap <leader>cp :action CompileProject<cr>
nnoremap <leader>cr :action CompileDirty<cr>

" Debug
nnoremap <leader>db :action ToggleLineBreakpoint<cr>
nnoremap <leader>dB :action ToggleBreakpointEnabled<cr>
nnoremap <leader>dj :action StepOver<cr>
nnoremap <leader>dh :action StepOut<cr>
nnoremap <leader>dl :action StepInto<cr>
nnoremap <leader>dd :action Resume<cr>
nnoremap <leader>de :action ShowExecutionPoint<cr>
nnoremap <leader>d<cr> :action RunToCursor<cr>

" Evaluation + REPL
noremap <leader>ee :action QuickEvaluateExpression<cr>
noremap <leader>eE :action EvaluateExpression<cr>

" Opening files
nnoremap <leader>fr :action RecentFiles<cr>
nnoremap <leader>ff :action GotoFile<cr>
nnoremap <leader>fm :action RecentChangedFiles<cr>

" Git
nnoremap <leader>gg :action Vcs.QuickListPopupAction<cr>
nnoremap <leader>gd :action Compare.SameVersion<cr>
nnoremap <leader>gD :action Git.CompareWithBranch<cr>
nnoremap <leader>gb :action Annotate<cr>
noremap <leader>gl :action uk.co.ben_gibson.git.link.UI.Action.Menu.MenuAction.Clipboard<cr>
noremap <leader>gL :action uk.co.ben_gibson.git.link.UI.Action.Menu.MenuAction.Browser<cr>

map <leader>h :action AceAction<cr>

" jump
nnoremap <leader>jc :action GotoClass<cr>
nnoremap <leader>js :action GotoSymbol<cr>
nnoremap <leader>ja :action GotoAction<cr>
nnoremap <leader>jk :action GotoSuperMethod<cr>
nnoremap <leader>jj :action GotoImplementation<cr>
nnoremap <leader>jt :action GotoTypeDeclaration<cr>

" quick-peek
nnoremap <leader>ke :action ShowErrorDescription<cr>
nnoremap <leader>kd :action QuickImplementations<cr>
nnoremap <leader>ku :action ShowUsages<cr>
nnoremap <leader>kp :action ParameterInfo<cr>
nnoremap <leader>ki :action Scala.ShowImplicitArguments<cr>
nnoremap <leader>kc :action EditorContextInfo<cr>
" nnoremap <leader>km :action FINDME_ContextInfo<cr>

" Runtime
nnoremap <leader>ll :action Run<cr>
nnoremap <leader>ld :action Debug<cr>
nnoremap <leader>ls :action Stop<cr>

" Project
nnoremap <leader>pc :action CloseProject<cr>
nnoremap <leader>pp :action ManageRecentProjects<cr>

" Searches
nnoremap <leader>/ :action FindInPath<cr>
nnoremap <leader>su :action FindUsages<cr>

" Refactor
noremap <leader>r :action Refactorings.QuickListPopupAction<cr>
noremap <leader>a :action ShowIntentionActions<cr>

" Toggles
nnoremap <leader>tw :action EditorToggleShowWhitespaces<cr>
nnoremap <leader>tn :action EditorToggleShowLineNumbers<cr>
nnoremap <leader>t<tab> :action EditorToggleShowIndentLines<cr>
nnoremap <leader>th :action HighlightUsagesInFile<cr>
nnoremap <leader>t/ :noh<cr>
nnoremap <leader>ti :action Scala.ShowImplicits<cr>
nnoremap <leader>tI :action Scala.ExpandImplicits<cr>
nnoremap <leader>tn :set number!<cr>
nnoremap <leader>tl :action EditorToggleUseSoftWraps<cr>
nnoremap <leader>tr :action ToogleFunctionReturnType<cr>
nnoremap <leader>tt :action ToggleTypeHints<cr>

" Views
nnoremap <leader>vf :action FileStructurePopup<cr>
nnoremap <leader>vt :action TypeHierarchy<cr>
nnoremap <leader>vc :action CallHierarchy<cr>
nnoremap <leader>vm :action MethodHierarchy<cr>
nnoremap <leader>vv :action SelectIn<cr>
nnoremap <leader>vb :action ShowBookmarks<cr>
nnoremap <leader>vB :action ViewBreakpoints<cr>
" TODO: FileStructure (no popup)

nnoremap <leader>wd <C-w>c
nnoremap <leader>wh <C-w>h
nnoremap <leader>wj <C-w>j
nnoremap <leader>wk <C-w>k
nnoremap <leader>wl <C-w>l
nnoremap <leader>wv <C-w>v
nnoremap <leader>ws <C-w>s
nnoremap <leader>ww <C-w>w
nnoremap <leader>wm :action HideAllWindows<cr>

nmap <leader>za :action ExpandAllToLevel1<cr>
nmap <leader>zb :action ExpandAllToLevel2<cr>
nmap <leader>zc :action ExpandAllToLevel3<cr>
nmap <leader>zd :action ExpandAllToLevel4<cr>
nmap <leader>ze :action ExpandAllToLevel5<cr>

" Shell
nnoremap <leader>' :action Activatesbt-shell-toolwindowToolWindow<cr>
