" Mouseless Driven Development by Hadi Hariri https://www.youtube.com/watch?v=UH6YVv9js3s
" Official ideavim plugin https://github.com/JetBrains/ideavim
" IntelliJ Ref. Card : https://resources.jetbrains.com/storage/products/intellij-idea/docs/IntelliJIDEA_ReferenceCard.pdf
" Action List : https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
" All ideavim bindings https://github.com/JetBrains/ideavim/blob/master/src/com/maddyhome/idea/vim/package-info.java
" Some doc for idea scala projects https://www.jetbrains.com/help/idea/discover-intellij-idea-for-scala.html

" Some .ideavimrc user configs
"    https://github.com/danidiaz/miscellany
"    https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc
"    https://github.com/saaguero/ideavimrc/blob/master/.ideavimrc


" ideavim supported plugins
set surround
set multiple-cursors

let mapleader=" "

" Some standard defaults
set hlsearch
set incsearch
set ignorecase
set smartcase

set scrolloff=3
set showmode  " message on statusline to show current mode
set clipboard=unnamed " Automatically yanks/fetch MS Clipboard
set history=1000   " Cmdline history

" Reload sources
nnoremap <leader>-r :source ~/.ideavimrc<cr>

" moving around windows /tabs
nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l
nnoremap <a-j> gT
nnoremap <a-k> gt

nnoremap Y y$

noremap ]m :action MoveStatementDown<cr>
noremap [m :action MoveStatementUp<cr>
noremap ]e :action MoveLineDown<cr>
noremap [e :action MoveLineUp<cr>

" Opening files
nnoremap <leader>fr :action RecentFiles<cr>
nnoremap <leader>ff :action GotoFile<cr>

" jump
nnoremap <leader>jc :action GotoClass<cr>
nnoremap <leader>js :action GotoSymbol<cr>

" quick-peek
nnoremap <leader>ke :action ShowErrorDescription<cr>
nnoremap <leader>kd :action QuickJavaDoc<cr>

" Toggles
nnoremap <leader>tw :action EditorToggleShowWhitespaces<cr>
nnoremap <leader>tn :action EditorToggleShowLineNumbers<cr>
nnoremap <leader>ti :action EditorToggleShowIndentLines<cr>

" Debug
nnoremap <leader>db :action ToggleLineBreakpoint<cr>

" Comments
noremap <leader>; :action CommentByLineComment<cr>

" Views
nnoremap <leader>vf :action FileStructurePopup<cr>


