" Mouseless Driven Development by Hadi Hariri https://www.youtube.com/watch?v=UH6YVv9js3s
" Official ideavim plugin https://github.com/JetBrains/ideavim
" IntelliJ Ref. Card : https://resources.jetbrains.com/storage/products/intellij-idea/docs/IntelliJIDEA_ReferenceCard.pdf
" Action List : https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
" All ideavim bindings https://github.com/JetBrains/ideavim/blob/master/src/com/maddyhome/idea/vim/package-info.java
" Some doc for idea scala projects https://www.jetbrains.com/help/idea/discover-intellij-idea-for-scala.html

" Some .ideavimrc user configs
"    https://github.com/danidiaz/miscellany
"    https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc
"    https://github.com/saaguero/ideavimrc/blob/master/.ideavimrc


" ideavim supported plugins
set surround
set multiple-cursors

let mapleader=" "

" Some standard defaults
set hlsearch
set incsearch
set ignorecase
set smartcase

set scrolloff=3
set showmode  " message on statusline to show current mode
set clipboard=unnamed,ideaput " Automatically yanks/fetch MS Clipboard
set history=1000   " Cmdline history
set nonumber


" Reload sources
nnoremap <leader>-r :source ~/.ideavimrc<cr>

vremap K <C-S>p

" moving around windows /tabs
nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l
nnoremap <a-j> gT
nnoremap <a-k> gt

nnoremap <leader>wd <C-w>c
nnoremap <leader>wh <C-w>h
nnoremap <leader>wj <C-w>j
nnoremap <leader>wk <C-w>k
nnoremap <leader>wl <C-w>l
nnoremap <leader>wv <C-w>v
nnoremap <leader>ws <C-w>s
nnoremap <leader>wm :action HideAllWindows<cr>

nnoremap Y y$

nnoremap ]] :action MethodDown<cr>
nnoremap [[ :action MethodUp<cr>
nnoremap ]h :action VcsShowNextChangeMarker<cr>
nnoremap [h :action VcsShowPrevChangeMarker<cr>
nnoremap ]e :action MoveLineDown<cr>
nnoremap [e :action MoveLineUp<cr>
nnoremap ]q :action GotoNextError<cr>
nnoremap [q :action GotoPreviousError<cr>

" Buffers
nnoremap <leader>bd :action CloseContent<cr>
nnoremap <leader>bD :action CloseAllUnmodifiedEditors<cr>
nnoremap <leader>bP :action CloseAllUnpinnedEditors<cr>
nnoremap <leader>bp :action PinActiveTab<cr>

" Opening files
nnoremap <leader>fr :action RecentFiles<cr>
nnoremap <leader>ff :action GotoFile<cr>

" jump
nnoremap <leader>jc :action GotoClass<cr>
nnoremap <leader>js :action GotoSymbol<cr>
nnoremap <leader>ja :action GotoAction<cr>
nnoremap <leader>jk :action GotoSuperMethod<cr>
nnoremap <leader>jj :action GotoImplementation<cr>
nnoremap <leader>jJ :action QuickImplementations<cr>

" quick-peek
nnoremap <leader>ke :action ShowErrorDescription<cr>
nnoremap <leader>kd :action QuickJavaDoc<cr>
nnoremap <leader>ku :action ShowUsages<cr>
nnoremap <leader>kp :action ParameterInfo<cr>
nnoremap <leader>kh :action Scala.ShowImplicitArguments<cr>
" nnoremap <leader>km :action FINDME_ContextInfo<cr>

" Toggles
nnoremap <leader>tw :action EditorToggleShowWhitespaces<cr>
nnoremap <leader>tn :action EditorToggleShowLineNumbers<cr>
nnoremap <leader>t<tab> :action EditorToggleShowIndentLines<cr>
nnoremap <leader>t/ :action HighlightUsagesInFile<cr>
nnoremap <leader>ti :action Scala.ShowImplicits<cr>
nnoremap <leader>tI :action Scala.ExpandImplicits<cr>
nnoremap <leader>tn :set number!<cr>
nnoremap <leader>tl :action EditoToggleUseSoftWraps<cr>

" Debug
nnoremap <leader>db :action ToggleLineBreakpoint<cr>
nnoremap <leader>dj :action StepOver<cr>
nnoremap <leader>dh :action StepOut<cr>
nnoremap <leader>dl :action StepInto<cr>
nnoremap <leader>dd :action Resume<cr>
nnoremap <leader>de :action ShowExecutionPoint<cr>
nnoremap <leader>d<cr> :action RunToCursor<cr>

noremap <leader>ee :action QuickEvaluateExpression<cr>
noremap <leader>eE :action EvaluateExpression<cr>

" Searches
nnoremap <leader><leader> :action SearchEverywhere<cr>
nnoremap <leader>/ :action FindInPath<cr>
nnoremap <leader>su :action FindUsages<cr>

" Comments
noremap <leader>; :action CommentByLineComment<cr>

" Views
nnoremap <leader>vf :action FileStructurePopup<cr>
nnoremap <leader>vt :action TypeHierarchy<cr>
nnoremap <leader>vc :action CallHierarchy<cr>
nnoremap <leader>vm :action MethodHierarchy<cr>
" TODO: FileStructure (no popup)

" Refactor
nnoremap <leader>a :action ShowIntentionActions<cr>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<cr>
vnoremap <leader>r :action Refactorings.QuickListPopupAction<cr>

" Git
nnoremap <leader>gg :action Vcs.QuickListPopupAction<cr>
nnoremap <leader>gd :action Compare.LastVersion<cr>
nnoremap <leader>gb :action Annotate<cr>
nnoremap <leader>gj :action VcsShowNextChangeMarker<cr>
nnoremap <leader>gk :action VcsShowPrevChangeMarker<cr>

" Compile
nnoremap <leader>cc :action Compile<cr>
nnoremap <leader>cp :action CompileProject<cr>
nnoremap <leader>cr :action CompileDirty<cr>

" Runtime
nnoremap <leader>ll :action Run<cr>
nnoremap <leader>ld :action Debug<cr>
nnoremap <leader>ls :action Stop<cr>

" Shell
" nnoremap <leader>' : action TODO Go to sbt shell

